# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual environment directory
namegen_venv/
.env/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# Custom models
models/custom/*
!models/custom/.gitkeep



app/models/custom_52afc29f94f3da5375a63fbf0cdcad40_data.pkl
